# build
dist/
.astro/
.output/

# deps
node_modules/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/
.DS_Store

# wrangler/cf
.wrangler/
.dev.vars

# pnpm
.pnpm-store/
